# fly.toml app configuration file generated for openclaw-misty-paper-4826 on 2026-02-19T16:25:21-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'openclaw-misty-paper-4826'
primary_region = 'iad'

[build]
  dockerfile = 'Dockerfile'

[env]
  NODE_ENV = 'production'
  NODE_OPTIONS = '--max-old-space-size=1536'
  OPENCLAW_PREFER_PNPM = '1'
  OPENCLAW_STATE_DIR = '/data'

[processes]
  app = 'node dist/index.js gateway --allow-unconfigured --port 3000 --bind lan'

[[mounts]]
  source = 'openclaw_data'
  destination = '/data'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  size = 'shared-cpu-2x'
  memory = '2048mb'
